<section>
    <form>
        <input type="text" id="search" name="search" autocomplete="off" placeholder="Search a city" 
        #searchBox (input)="search(searchBox.value)" list="datalistOptions"/>
        <input type="button" value="Search"/>
        <datalist id="datalistOptions" >
            <option *ngFor="let city of foo$ | async " [value]="city.title">
        </datalist> 
        <!--<datalist id="datalistOptions" *ngFor="let items of city$ | async ">
            <option *ngFor="let city of items.items" [value]="city.title">
        </datalist> -->
        <div *ngIf="city$">
            <p>{{city$}}</p>
        </div>
    </form>
</section>